<ion-tabs >
  <ion-tab-bar class="border-t border-t-slate-600" slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>{{ 'dashboard' | transloco }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="incomes" href="/tabs/incomes">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>{{ 'incomes' | transloco }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="expenses" href="/tabs/expenses">
      <ion-icon name="remove-circle-outline"/>
      <ion-label>{{ 'expenses' | transloco }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
