<div class="flex flex-col h-full bg-white dark:bg-neutral-200">
  <div class="relative">
    <ion-icon id="open-modal" expand="block" size="large" class="z-10 text-primary-800 absolute right-2 bottom-2"
              name="filter-circle-outline"></ion-icon>
    <app-transaction-pie-chart class="mt-4" [transactionTotals$]="transactionTotals$"></app-transaction-pie-chart>
  </div>
    <ion-content  [scrollEvents]="true">
      <ion-list>
        <ion-item *ngFor="let transaction of transactionTotalList$ | async">
          <div class="flex flex-row justify-between w-full">
            <ion-label>
              <h2 class="text-neutral-600">{{ transaction.category_name | transloco }}</h2>
            </ion-label>
            <ion-label>
              <span class="text-slate-800 font-semibold">{{ transaction.total | currencyFormat:true }}</span>
            </ion-label>
          </div>
        </ion-item>
      </ion-list>
      <ion-modal #modal trigger="open-modal"
                 [backdropBreakpoint]="0.5"
                 [backdropDismiss]="false"
                 [initialBreakpoint]="0.25"
                 [breakpoints]="[0, 0.25, 0.5, 0.75]">
        <ng-template>
          <ion-content class="ion-padding">
            <div class="bg-primary-50 h-full">
            <div class="flex flex-row pt-4 ">
              <ion-button [fill]="filterForm.get('isIncome').value?'solid':'outline'"
                          (click)="filterForm.get('isIncome').patchValue(true)" size="small"
                          class="w-full m-0 toggle-button">{{ 'incomes'|transloco }}
              </ion-button>
              <ion-button [fill]="filterForm.get('isIncome').value?'outline':'solid'"
                          (click)="filterForm.get('isIncome').patchValue(false)" size="small"
                          class="w-full m-0 toggle-button">{{ 'expenses'|transloco }}
              </ion-button>
            </div>
            </div>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-content>

</div>
